body
{
	margin:0 auto;
	background:#ccc url(images/background.jpg);
}

.list
{
	background: rgba(0,0,0,0.7);
}

#navigation li
{
	display: table-cell;
}

#navigation li a
{
	margin: 0 30px;
	text-transform: uppercase;
    text-decoration: none;
	color: white;
}

#main-container
{
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #bdbdbd;
	border-width: 0 1px;
	box-shadow: inset 1px 0px 0px #fff, inset -1px 0px 0px #fff;
	border-image-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.57);
	display: table;
}

#post-container
{
	margin: 20px;
}