body
{
	margin:0 auto;
	font-family: Arial, sans-serif;
	background:#ccc url(images/background.jpg);
}

.list
{
	background: rgba(0,0,0,0.7);
	box-shadow: inset 0 -1px 0 #6f6f6f;
    border-bottom: 1px solid #232323;
}

#navigation li
{
	display: table-cell;
}

#navigation li a
{
	margin: 0 30px;
	padding: 14px;
	text-transform: uppercase;
    text-decoration: none;
	color: white;
}

.active
{
	color: #83e407 !important;
	border-bottom: 4px solid #81e407;
}

#main-container
{
	min-width: 800px;
	width: 1000px;
	min-height: 600px;
    height: auto !important;
    height: 600px;
	margin: 0 auto;
	border: 1px solid #bdbdbd;
	border-width: 0 1px;
	box-shadow: inset 1px 0px 0px #fff, inset -1px 0px 0px #fff;
	border-image-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.57);
	display: table;
}

.post-container
{
	margin: 20px;
	border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 4px;
}

h3
{
	border-bottom: 1px solid #CCCCCC;
	padding: 4px 0;
	margin-bottom: 4px;
	margin-top: 4px;
}

.post-text
{
	margin: 10px 0;
	color: #5c6165;
}

.post-info
{
	text-align: right;
}

.poster
{
	color: #555758;
    font-weight: bold;
}

.post-date
{
	color: #555758;
    font-style: italic;
}

#profile-photo
{
	float: left;
    max-width: 300px;
    margin-right: 10px;
}

#social-block
{
	text-align: center;
}

.social-icon
{
	margin-right: 5px;
	max-width: 140px;
}