<!DOCTYPE HTML>
<html ng-app="asusShop">
<head>
	<meta charset="utf-8">
	<title>Ноутбуки Asus - Кращий магазин з продажу ноутбуків</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body ng-controller="indexController">
<table id="bar" width="100%" cellspacing=0 cellpadding=0 style="position:relative;">
  <tbody>
    <tr>
      <td height="39" class="list" align="center">
      <div style="max-width:1000px;">
		<a href="/">
			<div id="logo">Ноутбуки Asus</div>
		</a>
        <ul id="navigation">
          <li ng-repeat="nav in navigationElems"><a id="{{ nav.name }}" href="{{ nav.href }}" ng-style="{{ nav.name }}">{{ nav.text }}</a></li>
		</ul>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="main-container">
	<div class="post-container">
	Сортувати: 
	<select ng-model="ordervalue" ng-change="getTovars(1, ordervalue);">
		<option value="price_asc" >за зростанням ціни</option>
		<option value="price_dsc">за спаданням ціни</option>
		<option value="action_asc">за зростання акційної знижки</option>
		<option value="action_dsc">за спаданням акційної знижки</option>
	</select>
	<div style="float: right;">
	<input type="hidden" ng-model="currentpage" value=1></input>
	Сторінки: <button class="btn page" ng-repeat="page in pages" ng-click="getTovars(page.number, ordervalue);" style="padding: 2px 6px;margin-right: 3px;">{{page.number}}</button>    
	</div>
	</div>
	<div class="post-container" ng-repeat="tovar in allTovars" style="display: grid;">
		<h3>{{ tovar.tovar_name }} <div class="action">{{ tovar.action }}</div></h3>
		<div class="post-text">
			<a href="{{ tovar.image }}"><img src="{{ tovar.image }}" alt="{{ tovar.tovar_name }}" title="{{ tovar.tovar_name }}" style="max-width:400px; float: left;"/></a>
			<button class="btn buy" style="float:left; color: green; display: {{ tovar.buy }};" ng-click="addTovarToBucket(tovar.tovar_id, currentpage, ordervalue)">Купити</button> <button class="btn buy cancel" style="float:left; color: black; display: {{ tovar.cancel }};" ng-click="deleteTovarFromBucket(tovar.tovar_id, currentpage, ordervalue)">Скасувати замовлення</button> <div class="price">{{ tovar.price }} грн.</div>
			{{ tovar.description }}
		</div>
	</div>
	<div class="post-container">
	<div align="right">
	Сторінки: <button class="btn page" ng-repeat="page in pages" ng-click="getTovars(page.number, ordervalue);" style="padding: 2px 6px;margin-right: 3px;">{{page.number}}</button>    
	</div>
	</div>
</div>
<script src="javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>

