<!DOCTYPE HTML>
<html ng-app="nodeTodo">
<head>
	<meta charset="utf-8">
	<title>Ноутбуки Asus - Кращий магазин з продажу ноутбуків</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body ng-controller="mainController">
<table id="bar" width="100%" cellspacing=0 cellpadding=0 style="position:relative;">
  <tbody>
    <tr>
      <td height="39" class="list" align="center">
      <div style="max-width:1000px;">
		<a href="/">
			<div id="logo">Ноутбуки Asus</div>
		</a>
        <ul id="navigation">
          <li><a id="main" href="/">Головна</a></li>
          <li><a id="login" href="login">Вхід</a></li>
          <li><a id="register" href="register">Реєстрація</a></li>
		  </ul>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="main-container">
	<div class="post-container" ng-repeat="tovar in allTovars" style="display: grid;">
		<h3>{{ tovar.tovar_name }} <div class="del" ng-click="deleteTovar(tovar.id)" style="float:right;color:red;">X</div></h3>
		<div class="post-text">
			<img src="{{ tovar.image }}" alt="{{ tovar.tovar_name }}" title="{{ tovar.tovar_name }}" style="max-width:400px; float: left;"/>
			<div class="price">{{ tovar.price }} грн.</div>
			{{ tovar.description }}
		</div>
	</div>
</div>
<script>
	document.getElementById("main").className += "active";
</script>
	<script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
</body>
</html>

