<!DOCTYPE HTML>
<html ng-app="loadBalancer">
<head>
	<meta charset="utf-8">
	<title>СЛАР - Профіль користувача</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body ng-controller="profileController">
<table id="bar" width="100%" cellspacing=0 cellpadding=0 style="position:relative;">
  <tbody>
    <tr>
      <td height="39" class="list" align="center">
      <div style="max-width:1000px;">
		<a href="/">
			<div id="logo">Метод Хаусхолдера</div>
		</a>
        <ul id="navigation">
          <li ng-repeat="nav in navigationElems"><a id="{{ nav.name }}" href="{{ nav.href }}" ng-style="{{ nav.name }}">{{ nav.text }}</a></li>
		</ul>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="main-container">
	<div class="post-container"  style="display: grid;background: #dcf9e1;">
		<h3>Успішно виконанні завдання</h3>
		<div class="post-container" style="display: grid;" ng-repeat="old in oldCalculations">
		<h3>Завдання №{{ old.task_id }} <span style="float:right">Дата: {{ old.task_date }}</span></h3>
		<div align="center"><b>Вхідна матриця</b></div>
		{{ old.task_input_matrix }}
		<div align="center"><b>Вхідний вектор</b></div>
		{{ old.task_input_vector }}
		<div align="center"><b>Результат обчислень</b></div>
		{{ old.task_result }}
		</div>
	</div>
	</div>
</div>
<script src="javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>

