<!DOCTYPE HTML>
<html ng-app="asusShop">
<head>
	<meta charset="utf-8">
	<title>Ноутбуки Asus - Кращий магазин з продажу ноутбуків</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
</head>
<body ng-controller="adminController">
<table id="bar" width="100%" cellspacing=0 cellpadding=0 style="position:relative;">
  <tbody>
    <tr>
      <td height="39" class="list" align="center">
      <div style="max-width:1000px;">
		<a href="/">
			<div id="logo">Ноутбуки Asus</div>
		</a>
        <ul id="navigation">
		  <li><a id="main" href="../">Головна</a></li>
		  <li><a id="mainAdmin" href="./">Керування сайтом</a></li>
		  <li><a id="add" href="./add.html">Додати товар</a></li>
		  <li><a id="logout" href="../logout.html">Вийти</a></li>
		</ul>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="main-container">
	<div class="post-container" ng-repeat="tovar in allTovars" style="display: grid;">
		<h3>{{ tovar.tovar_name }} 
		<div style="float:right;"> 
			<button class="btn cancel" style="color: black; margin-right: 10px;display:{{ tovar.del_action }};" ng-click="deleteActionFromTovar(tovar.tovar_id)">Скасувати акцію</button> 
			<button class="btn buy" style="color: green; margin-right: 10px;" ng-click="addActionToTovar(tovar.tovar_id)">Встановити акцію</button>
			<button class="btn cancel" ng-click="deleteTovar(tovar.tovar_id)" style="color:black;">X</button> 
		</div> 
			<div class="action" style="margin-right: 10px;">{{ tovar.action }}</div>
		</h3>
		<div class="post-text">
			<a href="{{ tovar.image }}"><img src="{{ tovar.image }}" alt="{{ tovar.tovar_name }}" title="{{ tovar.tovar_name }}" style="max-width:400px; float: left;"/></a>
			<div class="price">{{ tovar.price }} грн.</div>
			{{ tovar.description }}
		</div>
	</div>
</div>
<script src="../javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="../javascripts/angular.min.js"></script>
<script src="admin.js"></script>
<script>
	document.getElementById("mainAdmin").className += "active";
</script>
</body>
</html>

